@import "./styles/nav";
@import "./styles/home";
@import "./styles/navbottom";
@import "./styles/about";
@import "./styles/portfolio";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 62.5%;
  margin-right: 15vw;
  margin-left: 15vw;
  margin-top: 10vh;
  background: rgb(59, 0, 59);
  color: white;
  overflow-x: hidden;


}