@import "./styles/nav";
@import "./styles/home";
@import "./styles/navbottom";
@import "./styles/about";
@import "./styles/portfolio";
@import "./styles/contact";
@import "./styles/form";
@import "./styles/success";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // border: 1px solid white;
  font-size: 62.5%;
  margin-right: 10vw;
  margin-left: 10vw;
  // padding-top: 5vh;
  // padding: auto;
  background: rgb(59, 0, 59);
  color: white;
  overflow-x: hidden;


}

@media screen and (max-width: 800px) {
  body{
  overflow-x: hidden;
  }
}