.Nav nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Nav nav h1 {
  font-size: 3rem;
  cursor: pointer;
}
.Nav nav h1:hover {
  color: rgb(255, 83, 232);
}
.Nav nav .navbar {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  font-size: 1rem;
  gap: 2rem;
}
.Nav nav .navbar li {
  cursor: pointer;
}
.Nav nav .navbar li:hover {
  color: rgb(255, 83, 232);
  font-size: 1.5rem;
}
.Nav nav .sidebar {
  display: none;
  width: 50vw;
  position: fixed;
  top: 20vh;
  right: -600px;
  transition: left 0.3s;
  padding: 3rem;
}
.Nav nav .sidebar li {
  cursor: pointer;
}
.Nav nav .sidebar li:hover {
  color: rgb(255, 83, 232);
  font-size: 1.2rem;
}
.Nav nav .hamburger {
  display: none;
  cursor: pointer;
}
.Nav nav .hamburger:hover div {
  background-color: rgb(255, 83, 232);
}
.Nav nav .hamburger div {
  width: 25px;
  margin: 5px;
  height: 3px;
  background-color: white;
}

@media screen and (max-width: 700px) {
  .Nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Nav nav h1 {
    font-size: 3rem;
    cursor: pointer;
  }
  .Nav nav h1:hover {
    color: rgb(255, 83, 232);
  }
  .Nav nav .navbar {
    display: none;
  }
  .Nav nav .sidebar {
    display: block;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 2rem;
    background-color: white;
    color: rgb(59, 0, 59);
    right: 0;
    position: absolute;
    z-index: 10;
  }
  .Nav nav .hamburger {
    display: block;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .intro {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
.home .intro-text {
  font-size: 3rem;
  overflow: hidden;
  margin: 0 auto;
  letter-spacing: 0.05em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.home .intro-explain {
  font-family: "Lobster Two", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.home .intro img {
  box-shadow: 0 0 12px 2px rgb(255, 83, 232);
}
.home .intro img:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 4px rgb(255, 83, 232);
}
.home .getintouch {
  margin-top: 3rem;
  margin-bottom: 10rem;
  font-family: "Lobster Two", cursive;
  font-size: 3rem;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.home .getintouch hr {
  width: 45%;
}
.home .getintouch button {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(255, 83, 232);
  background-color: white;
  border: none;
  padding: 1rem 2rem;
  letter-spacing: 1.5px;
}
.home .getintouch button:hover {
  color: white;
  background-color: rgb(255, 83, 232);
  cursor: pointer;
  box-shadow: 0 0 12px 2px rgb(255, 83, 232);
}

@media screen and (max-width: 600px) {
  .home .intro {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .home .intro-text {
    font-size: 1.2rem;
  }
  .home .intro-explain {
    font-size: 1rem;
  }
  .home .intro img {
    width: 70vw;
  }
  .home .getintouch {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .home .getintouch button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
.Navbottom {
  bottom: 0;
  margin-left: -15vw;
  margin-top: 4rem;
  background-color: white;
  color: black;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 100vw;
}
.Navbottom .navbottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Navbottom .navbottom ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  font-size: 0.8rem;
  gap: 1rem;
}
.Navbottom .navbottom ul li {
  cursor: pointer;
}
.Navbottom .navbottom ul li:hover {
  color: rgb(255, 83, 232);
  font-size: 1rem;
}
.Navbottom .navbottom .images img {
  width: 3rem;
  height: 2rem;
}

@media screen and (max-width: 700px) {
  .Navbottom {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100vw;
  }
  .Navbottom .navbottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .Navbottom .navbottom ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .Navbottom .navbottom ul li {
    cursor: pointer;
  }
  .Navbottom .navbottom ul li:hover {
    color: rgb(255, 83, 232);
    font-size: 1rem;
  }
  .Navbottom .navbottom .images img {
    width: 3rem;
    height: 2rem;
  }
}
.about .main {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}
.about .main-image {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
}
.about .main-image .aboutpic {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .main-text {
  width: 50%;
}
.about .main-head {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  text-shadow: 2px 2px rgb(255, 83, 232);
}
.about .main-description {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about .main-explanation {
  font-size: 1.5rem;
  text-align: justify;
  color: rgb(255, 159, 242);
}
.about .main-explanation span {
  font-weight: 600;
  color: white;
}
.about .main img {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .about .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
  }
  .about .main-image {
    width: 70vw;
    height: 60%;
    background-repeat: no-repeat;
  }
  .about .main-text {
    text-align: justify;
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .about .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
  }
  .about .main-image {
    width: 70vw;
    height: 60%;
    background-repeat: no-repeat;
  }
  .about .main-text {
    text-align: justify;
    width: 100%;
  }
}
.portfolio .container {
  margin-top: 2rem;
}
.portfolio .container .containerjnr {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-bottom: 5rem;
}
.portfolio .container .containerjnr .imagecontainer {
  width: 150%;
  height: 55vh;
}
.portfolio .container .containerjnr .imagecontainer img {
  width: 100%;
  height: 100%;
}
.portfolio .container .containerjnr #no {
  display: block;
}
.portfolio .container .containerjnr #side {
  display: none;
}
.portfolio .container .containerjnr .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio .container .containerjnr .description h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.portfolio .container .containerjnr .description p {
  font-size: 1.2rem;
  text-align: justify;
}
.portfolio .container .containerjnr .description .button {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.portfolio .container .containerjnr .description .button h5 {
  background-color: white;
  padding: 0.5rem;
  color: rgb(59, 0, 59);
  font-size: 1rem;
  border-radius: 20px;
}
.portfolio .container .containerjnr .description .button h5:hover {
  cursor: pointer;
}
.portfolio .container .containerjnr .description button {
  margin-top: 4rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2rem;
  cursor: pointer;
}
.portfolio .calc {
  border: 1rem solid rgb(119, 41, 221);
}
.portfolio .demo {
  border: 1rem solid rgb(254, 92, 254);
}
.portfolio .demobutt:hover {
  color: white;
  background-color: rgb(254, 92, 254);
}
.portfolio #demobutton h5:hover {
  color: white;
  background-color: rgb(254, 92, 254);
}
.portfolio .calcbutt:hover {
  color: white;
  background-color: rgb(119, 41, 221);
}
.portfolio #clacbutton h5:hover {
  color: white;
  background-color: rgb(119, 41, 221);
}
.portfolio .bmicalc {
  border: 1rem solid blue;
}
.portfolio .bmibutt:hover {
  color: white;
  background-color: blue;
}
.portfolio #bmibutton h5:hover {
  color: white;
  background-color: blue;
}
.portfolio .planet {
  border: 1rem solid #419ebb;
}
.portfolio .planetbutt:hover {
  color: white;
  background-color: #419ebb;
}
.portfolio #planetbutton h5:hover {
  color: white;
  background-color: #419ebb;
}
.portfolio .enter {
  border: 1rem solid rgb(170, 218, 248);
}
.portfolio .enterbutt:hover {
  background-color: rgb(170, 218, 248);
}
.portfolio #enterbutton h5:hover {
  background-color: rgb(170, 218, 248);
}
.portfolio .todo {
  border: 1rem solid rgb(255, 128, 0);
}
.portfolio .todobutt:hover {
  color: white;
  background-color: rgb(255, 128, 0);
}
.portfolio #todobutton h5:hover {
  color: white;
  background-color: rgb(255, 128, 0);
}
.portfolio .inter {
  border: 1rem solid rgb(248, 102, 199);
}
.portfolio .interbutt:hover {
  color: white;
  background-color: rgb(248, 102, 199);
}
.portfolio #interbutton h5:hover {
  color: white;
  background-color: rgb(248, 102, 199);
}
.portfolio .calculator {
  border: 1rem solid rgb(52, 52, 55);
}
.portfolio .calculatorbutt:hover {
  color: white;
  background-color: rgb(52, 52, 55);
}
.portfolio #calculatorbutton h5:hover {
  color: white;
  background-color: rgb(52, 52, 55);
}
.portfolio .news {
  border: 1rem solid rgb(255, 48, 1);
}
.portfolio .newsbutt:hover {
  color: white;
  background-color: rgb(255, 48, 1);
}
.portfolio #newsbutton h5:hover {
  color: white;
  background-color: rgb(255, 48, 1);
}
.portfolio .letter {
  border: 1rem solid rgb(253, 83, 45);
}
.portfolio .letterbutt:hover {
  color: white;
  background-color: rgb(253, 83, 45);
}
.portfolio #letterbutton h5:hover {
  color: white;
  background-color: rgb(253, 83, 45);
}
.portfolio .blog {
  border: 1rem solid rgb(57, 1, 1);
}
.portfolio .blogbutt:hover {
  color: white;
  background-color: rgb(57, 1, 1);
}
.portfolio #blogbutton h5:hover {
  color: white;
  background-color: rgb(57, 1, 1);
}
.portfolio .real {
  border: 1rem solid rgb(191, 102, 0);
}
.portfolio .realbutt:hover {
  color: white;
  background-color: rgb(191, 102, 0);
}
.portfolio #realbutton h5:hover {
  color: white;
  background-color: rgb(191, 102, 0);
}
.portfolio .estate {
  border: 1rem solid rgb(191, 102, 0);
}
.portfolio .estatebutt:hover {
  color: white;
  background-color: rgb(191, 102, 0);
}
.portfolio #estatebutton h5:hover {
  color: white;
  background-color: rgb(191, 102, 0);
}
.portfolio .estt {
  border: 1rem solid rgba(19, 53, 127, 0.878);
}
.portfolio .esttbutt:hover {
  color: white;
  background-color: rgba(19, 53, 127, 0.878);
}
.portfolio #esttbutton h5:hover {
  color: white;
  background-color: rgba(19, 53, 127, 0.878);
}
.portfolio .estt2 {
  border: 1rem solid rgba(0, 5, 17, 0.878);
}
.portfolio .estt2butt:hover {
  color: white;
  background-color: rgba(0, 5, 17, 0.878);
}
.portfolio #estt2button h5:hover {
  color: white;
  background-color: rgba(0, 5, 17, 0.878);
}

@media screen and (max-width: 600px) {
  .portfolio .container .containerjnr {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .portfolio .container .containerjnr .imagecontainer {
    width: 100%;
    height: 50vh;
  }
  .portfolio .container .containerjnr #no {
    display: none;
  }
  .portfolio .container .containerjnr #side {
    display: block;
  }
  .portfolio .container .containerjnr .description h1 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }
  .portfolio .container .containerjnr .description p {
    font-size: 1.2rem;
  }
  .portfolio .container .containerjnr .description .button {
    margin-top: 1.5rem;
  }
  .portfolio .container .containerjnr .description button {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1000px) {
  .portfolio .container .containerjnr {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .portfolio .container .containerjnr .imagecontainer {
    width: 100%;
    height: 60vh;
  }
  .portfolio .container .containerjnr #no {
    display: none;
  }
  .portfolio .container .containerjnr #side {
    display: block;
  }
}
.contact .main {
  margin-top: 2rem;
  display: flex;
  text-align: center;
}
.contact .main-image {
  height: -moz-fit-content;
  height: fit-content;
}
.contact .main-image .image {
  width: 33vw;
  height: 90vh;
}

@media screen and (max-width: 800px) {
  .contact .main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contact .main-image {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .contact .main-image .image {
    width: 50vw;
    height: 50vh;
  }
}
form {
  margin-top: 4rem;
  background-color: white;
  width: 50vw;
  height: -moz-fit-content 80vh;
  height: fit-content 80vh;
  padding: 3rem;
}
form h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
  color: rgb(59, 0, 59);
}
form h3 {
  color: rgb(248, 58, 213);
  margin: 1rem;
  font-size: 1.2rem;
}
form p {
  margin: 1rem;
  font-size: 1rem;
  color: rgb(59, 0, 59);
}
form .form-details {
  border: 2px solid rgb(59, 0, 59);
  border-radius: 10px;
  padding: 1rem 2.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
}
form .form-details label {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
  color: rgb(59, 0, 59);
}
form .form-details input {
  border: none;
  width: 100%;
  border: 1px solid rgb(59, 0, 59);
  border-radius: 5px;
  padding: 0.4rem;
  color: rgb(59, 0, 59);
  font-size: 1rem;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
form .form-details input::-moz-placeholder {
  color: rgb(59, 0, 59);
  font-size: 1rem;
}
form .form-details input::placeholder {
  color: rgb(59, 0, 59);
  font-size: 1rem;
}
form .form-details input:focus {
  outline: none;
  border: 2px solid rgb(248, 58, 213);
}
form .form-details textarea {
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(59, 0, 59);
  color: rgb(59, 0, 59);
  font-size: 1rem;
  background-color: white;
  font-family: "Times New Roman", Times, serif;
}
form .form-details textarea::-moz-placeholder {
  color: rgb(59, 0, 59);
  font-size: 1rem;
}
form .form-details textarea::placeholder {
  color: rgb(59, 0, 59);
  font-size: 1rem;
}
form .form-details textarea:focus {
  outline: none;
  border: 2px solid rgb(248, 58, 213);
}
form .form-details button {
  padding: 0.5rem 1rem;
  background-color: rgb(59, 0, 59);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  font-size: 1rem;
  position: relative;
  right: 0;
}
form .form-details button:hover {
  color: rgb(59, 0, 59);
  background-color: rgb(248, 58, 213);
  box-shadow: 0 0 2px 2px rgb(248, 58, 213);
}

@media screen and (max-width: 800px) {
  form {
    margin-top: 0;
    width: 100%;
    height: -moz-fit-content 80vh;
    height: fit-content 80vh;
    padding: 1rem;
  }
  .form-details {
    border: 2px solid rgb(59, 0, 59);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin: 1rem;
  }
}
.successmessage {
  background-color: white;
  color: rgb(59, 0, 59);
  margin: auto;
  margin-top: 10vw;
  width: 30vw;
  height: 25vw;
  border-radius: 20px;
  text-align: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.successmessage h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  font-size: 3rem;
}
.successmessage p {
  font-size: 1.5rem;
}
.successmessage button {
  margin-top: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  border: none;
  background-color: rgb(59, 0, 59);
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.successmessage button:hover {
  background-color: rgb(248, 58, 213);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  margin-right: 15vw;
  margin-left: 15vw;
  margin-top: 10vh;
  background: rgb(59, 0, 59);
  color: white;
  overflow-x: hidden;
}/*# sourceMappingURL=App.css.map */