.about{
    .main{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 4rem;

        &-head{
        font-family: 'Oswald', sans-serif;  
        font-size: 1.2rem;
        text-shadow: 2px 2px rgb(255, 83, 232);
        }

        &-description{
            font-size: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        &-explanation{
            font-size: 1.5rem;
            text-align: justify;
            color: rgb(255, 159, 242);
            span{
                font-weight: 600;
                color: white;
            }
        }
    
        img{
        width: 50%;
        
        }
    }
    

}