.about{
    .main{
        padding-top: 20vh;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 10vh;
         
        &-image{
            width: 100%;
            height: 80vh;
            background-repeat: no-repeat;
        
    
            .aboutpic{
                height: 100%;
                width: 100%;
                object-position: center ;
                object-fit: cover;
            }
        }
        
        &-text{
            width: 50%;
            height: 100%;
        }

        &-head{
        font-family: 'Oswald', sans-serif;  
        font-size: 1.2rem;
        text-shadow: 2px 2px rgb(255, 83, 232);
        }

        &-description{
            font-size: 3rem;
            // margin-top: 1rem;
            margin-bottom: 1rem;
        }

        &-explanation{
            font-size: 1.5rem;
            text-align: left;
            color: rgb(255, 159, 242);
            span{
                font-weight: 600;
                color: white;
            }
        }
    
        img{
        width: 50%;
        
        }
    }
    

}
@media screen and (max-width: 750px) {
    .about{
        .main{
            display: flex;
            flex-direction: column;
            gap: 2rem;
             
            &-image{
                width: 80vw;
                height: 60%;
                // background-color: azure;
                background-repeat: no-repeat;
            }
            
            &-text{
                text-align: justify;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    .about{
        .main{
            display: flex;
            gap: 2rem;
            
            &-text{
                text-align: justify;
                width: 100%;
            }
        }
    }
}