.contact{
    .main{
        margin-top: 2rem;
        display: flex;
        // gap: 4rem;
        text-align: center;
        &-image{
            height: fit-content;
           .image{
            width: 33vw;
            height: 90vh;
           }
        }
    }
}