.contact{
    margin-bottom: 10vh;
    .main{
        padding-top: 25vh;
        display: flex;
        // gap: 4rem;
        text-align: center;
        &-image{
            height: fit-content;
           .image{
            width: 40vw;
            height: 100%;
           }
        }
    }
}

@media screen and (max-width: 800px) {
    .contact{
        .main{
            display: flex;
            flex-direction: column;
            text-align: center;
            &-image{
                height: fit-content;
                width: fit-content;
                margin: auto;
               .image{
                width: 80vw;
                height: 100%;
               }
            }
        }
    }
}