//font-family: 'Lobster', cursive;
//font-family: 'Lobster Two', cursive;

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .intro{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-between;
        &-text{
            font-size: 3rem;
            overflow: hidden;
            // border-right: .15em solid rgb(255, 83, 232);
            margin: 0 auto;
            letter-spacing: .05em;
            animation: 
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;

            @keyframes typing {
                from {width: 0}
                to {width: 100%}
            }

            // @keyframes blink-caret  {
            //    from, to { border-color: transparent ;} 
            //    50% { border-color: rgb(255, 83, 232);}
            // }
        }
        &-explain{
            // font-family: 'Lobster Two', cursive;
            font-weight: 400;
            font-size: 1.5rem;
            margin-top: 1rem;
        }
        img{
            box-shadow: 0 0 12px 2px rgb(255, 83, 232);
            &:hover{
                cursor: pointer;
                box-shadow: 0 0 20px 4px rgb(255, 83, 232);

            }
        }

    }
    .getintouch{
        margin-top: 3rem;
        margin-bottom: 10rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: 3rem;
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        hr{
            width: 45%;
        }

        button{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(255, 83, 232) ;
            background-color: white;
            border: none;
            padding: 1rem 2rem;
            letter-spacing: 1.5px;

            &:hover{
                color: white;
                background-color: rgb(255, 83, 232);
                cursor: pointer;
                box-shadow: 0 0 12px 2px rgb(255, 83, 232);
            }
        }

    }
   
}
@media screen and (max-width: 600px) {
    .home{
        .intro{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            &-text{
                font-size: 1.2rem;
            }
            &-explain{
                font-size: 1rem;
            }
            img{
                width: 70vw;
            }
        }
        .getintouch{
            font-size: 2rem;
           margin-bottom: 5rem;

            button{
                padding: 0.5rem 1rem;
                font-size: 1rem;
                font-weight: 800;
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    .home{
        .intro{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            &-text{
                font-size: 1.2rem;
            }
            &-explain{
                font-size: 1rem;
            }
            img{
                width: 70vw;
            }
        }
        .getintouch{
            font-size: 2rem;
           margin-bottom: 5rem;

            button{
                padding: 0.5rem 1rem;
                font-size: 0.8rem;
            }
        }
    }
}