.Nav{
    nav{
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(59, 0, 59, 0.799);
        width: 90vw;
        margin-left: -5vw;
        padding-right: 5vw;
        padding-left: 5vw;
        align-items: center;
        margin-bottom: 10vh;
        padding-top: 5vh;
      

      
        h1{
            font-size: 3rem;
            cursor: pointer;
            &:hover{
            color: rgb(255, 83, 232);
            }
        }
        .navbar{
            text-decoration: none;
            list-style-type: none;
            display: flex;
            font-size: 1rem;
            gap: 2rem;
            li{
                cursor: pointer;
                &:hover{
                    color: rgb(255, 83, 232);
                }
            }
        }
        .sidebar{
            display: none;
            width: 50vw;
            // height: 40vh;
            position: fixed;
            top: 15vh;
            right: -600px;
            transition: right 0.3s ;
            padding: 3rem;
            li{
                cursor: pointer;
                &:hover{
                    color: rgb(255, 83, 232);
                }
            }
        }
        .hamburger{
            display: none;
            cursor: pointer;
            &:hover{
                div{
                    background-color: rgb(255, 83, 232);
                }
                }

            div{
                width: 25px;
                margin: 5px;
                height: 3px;
                background-color: white;
               
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .Nav{
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          
            h1{
                font-size: 3rem;
                cursor: pointer;
                &:hover{
                color: rgb(255, 83, 232);
                }
            }
            .navbar{
               display: none;
            }
            .sidebar{
                display: block;
                text-decoration: none;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                font-size: 1rem;
                gap: 2rem;
                background-color: white;
                color: rgb(59, 0, 59);
                right: 0;
                position: absolute;
                z-index: 10;
            }
            .hamburger{
                display: block;
                // margin-top: 20px;
            }
        }
    }
}