.portfolio{
    .container{
        padding-top: 25vh;
        .containerjnr{
            display: flex;
            align-items: center;
            gap: 4rem;
            margin-bottom: 5rem;
            .imagecontainer{
                width: 150%;
                height: 55vh;
                border: 1rem solid white;
                // background: url('../images/porfolio/blur.jpg');
                img{
                    width: 100%;
                    height: 100%;
                }
            }
           #no{
            display: block;
           }
           #side{
            display: none;
           }
            .description{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                

                h1{
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1.2rem;
                    text-align: justify;
                }
                .button{
                    margin-top: 2rem;
                    display: flex;
                    gap: 2rem;
                    h5{
                        background-color: white;
                        padding: 0.5rem;
                        color: rgb(59, 0, 59);
                        font-size: 1rem;
                        border-radius: 20px;
                    }
                }
                button{
                    margin-top: 4rem;
                    width: fit-content;
                    padding:  0.8rem 2rem;
                    background-color: white;
                    border: none;
                    // font-size: 1rem;
                    cursor: pointer;
                    &:hover{
                        color: white;
                        background-color: rgb(22, 20, 37);
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width: 600px) {
    .portfolio{
        .container{
            .containerjnr{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                .imagecontainer{
                    width: 100%;
                    height: 50vh;
                }
               
                #no{
                    display: none;
                }
                #side{display: block;}
                .description{
                    h1{
                        font-size: 1.6rem;
                        margin-bottom: 1.2rem;
                    }
                    p{
                        font-size: 1.2rem;
                    }
                    .button{
                        margin-top: 1.5rem;
                    }
                    button{
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .portfolio{
        .container{
            .containerjnr{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                .imagecontainer{
                    width: 100%;
                    height: 40vh;
                }
               
                #no{
                    display: none;
                }
                #side{display: block;}
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .portfolio{
        .container{
            .containerjnr{
                .imagecontainer{
                    width: 100%;
                    height: 60vh;
                }
            }
        }
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .portfolio{
        .container{
            .containerjnr{
                display: flex;
                flex-direction: row;
                gap: 3rem;
                width: 100%;
                .imagecontainer{
                    width: 220%;
                    height: 60vh;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .portfolio{
        .container{
            .containerjnr{
                display: flex;
                flex-direction: row;
                gap: 3rem;
                width: 100%;
                .imagecontainer{
                    width: 200%;
                    height: 75vh;
                }
            }
        }
    }
}
