.portfolio{
    .container{
        margin-top: 2rem;
        .containerjnr{
            display: flex;
            align-items: center;
            gap: 4rem;
            margin-bottom: 5rem;
            .imagecontainer{
                width: 150%;
                height: 55vh;
                // background: url('../images/porfolio/blur.jpg');
                img{
                    width: 100%;
                    height: 100%;
                }
            }
           
            .description{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                

                h1{
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                p{
                    font-size: 1.2rem;
                    text-align: justify;
                }
                .button{
                    margin-top: 2rem;
                    display: flex;
                    gap: 2rem;
                    h5{
                        background-color: white;
                        padding: 0.5rem;
                        color: rgb(59, 0, 59);
                        font-size: 1rem;
                        border-radius: 20px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                button{
                    margin-top: 4rem;
                    width: fit-content;
                    padding:  0.8rem 2rem;
                    // font-size: 1rem;
                    cursor: pointer;
                    // &:hover{
                    //     color: white;
                    //     background-color: rgb(255, 83, 232);
                    // }
                }
            }
        }
    }
    .calc{
        border: 1rem solid rgb(119, 41, 221);          
    }
    .demo{
        border: 1rem solid rgb(254, 92, 254);
    }
    .demobutt{
        &:hover{
            color: white;
            background-color: rgb(254, 92, 254);
        }
    }
    #demobutton{
        h5:hover{
            color: white;
            background-color: rgb(254, 92, 254);
        }
    }
    .calcbutt{
        &:hover{
            color: white;
            background-color: rgb(119, 41, 221);
        }
    }
    #clacbutton{
        h5:hover{
            color: white;
            background-color: rgb(119, 41, 221);
        }
    }
    .bmicalc{
        border: 1rem solid blue;
    }
    .bmibutt{
        &:hover{
            color: white;
            background-color: blue;
        }
    }
    #bmibutton{
        h5:hover{
            color: white;
            background-color: blue;
        }
    }
    .planet{
        border: 1rem solid #419ebb;
    }
    .planetbutt{
        &:hover{
            color: white;
            background-color: #419ebb;
        }
    }
    #planetbutton{
        h5:hover{
            color: white;
            background-color: #419ebb;
        }
    }
    .enter{
        border: 1rem solid rgb(170, 218, 248);
    }
    .enterbutt{
        &:hover{
            background-color: rgb(170, 218, 248);
        }
    }
    #enterbutton{
        h5:hover{
            background-color: rgb(170, 218, 248);
        }
    }
    .todo{
        border: 1rem solid rgb(255, 128, 0);
    }
    .todobutt{
        &:hover{
            color: white;
            background-color: rgb(255, 128, 0);
        }
    }
    #todobutton{
        h5:hover{
            color: white;
            background-color: rgb(255, 128, 0);
        }
    }
    .inter{
        border: 1rem solid rgb(248, 102, 199);
    }
    .interbutt{
        &:hover{
            color: white;
            background-color: rgb(248, 102, 199);
        }
    }
    #interbutton{
        h5:hover{
            color: white;
            background-color: rgb(248, 102, 199);
        }
    }
    .calculator{
        border: 1rem solid rgb(52, 52, 55);
    }
    .calculatorbutt{
        &:hover{
            color: white;
            background-color: rgb(52, 52, 55);
        }
    }
    #calculatorbutton{
        h5:hover{
            color: white;
            background-color: rgb(52, 52, 55);
        }
    }
    .news{
        border: 1rem solid rgb(255, 48, 1);
    }
    .newsbutt{
        &:hover{
            color: white;
            background-color: rgb(255, 48, 1);
        }
    }
    #newsbutton{
        h5:hover{
            color: white;
            background-color: rgb(255, 48, 1);
        }
    }
    .letter{
        border: 1rem solid rgb(253, 83, 45);
    }
    .letterbutt{
        &:hover{
            color: white;
            background-color: rgb(253, 83, 45);
        }
    }
    #letterbutton{
        h5:hover{
            color: white;
            background-color: rgb(253, 83, 45);
        }
    }
    .blog{
        border: 1rem solid rgb(57, 1, 1);
    }
    .blogbutt{
        &:hover{
            color: white;
            background-color: rgb(57, 1, 1);
        }
    }
    #blogbutton{
        h5:hover{
            color: white;
            background-color: rgb(57, 1, 1);
        }
        
    }
}